<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}

  <head>
    
  </head>

  <body>
    <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>  

    
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Recent Posts</h4>
                <h2>Our Recent Blog Entries</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->



    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for product in object_list %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{product.image.url}}" alt="{{product.name}}">
                    </div>
                    <div class="down-content">
                      <span>{{product.category}}</span>
                      <a href="{% url 'post_detail' pk=product.pk %}"><h4>{{product.name}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{product.author}}</a></li>
                        <li><a href="#">{{product.created_at}}</a></li>
                        <li><a href="#">likes</a></li>
                      </ul>
                      <p>{{product.short_description}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="col-lg-12">
                  <!-- <ul class="page-numbers">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul> -->
                  <ul class="page-numbers">
                    {% if page_obj.has_previous %}
                    <li>
                      <a class="page-link" href="?page=1" aria-label="First">
                        &laquo; First
                      </a>
                    </li>
                    <li>
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        Previous
                      </a>
                    </li>
                    {% endif %}
                  
                    {% for num in page_obj.paginator.page_range %}
                    {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                    <li class="{% if num == page_obj.number %}active{% endif %}">
                      <a href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                  
                    {% if page_obj.has_next %}
                    <li>
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        Next
                      </a>
                    </li>
                    <li>
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        Last &raquo;
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                  
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method=POST action="{% url 'search_bar' %}">
                      {% csrf_token %}
                      <input type="search" name="searched" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    {% for item in side_bar_product|slice:":3" %}
                    <div class="content">
                      <ul>
                        <li><a href="{% url 'post_detail' pk=item.pk %}">
                          <h5>{{item.name}}</h5>
                          <span>{{item.created_at}}</span>
                        </a></li>
                      </ul>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      {% for item in cat_menu %}
                      <ul>
                        <li><a href="{% url 'category' item|slugify %}">- {{item}}</a></li>
                      </ul>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    


    {% endblock %}


  </body>
</html>